@import "reset.css";
body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  width: 100%;
  height: 60px;
  margin: 0px;
  align-items: center;
  background-color: #c1c1c1;
  box-shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 3px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(22, 19, 19, 0.8);
  position: sticky;
  top: 0;
}

.topmenu i:hover {
  color: #fff;
  background-color: #424242;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 3, 0.11), 0 1px 3px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 800;
}

.topmenu_file .fa-bars {
  cursor: pointer;
  margin-left: 10px;
}

.topmenu_file .fa-bars:hover {
  width: 40px;
}

.files {
  display: none;
}

.file_menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  color: rgb(27, 26, 26);
  font-size: 18px;
  width: 300px;
  height: 304px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.file_menu .file_menu_info {
  margin-top: 5px;
}

.file_menu .info {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.file_menu .file_menu_info i {
  margin: 10px;
}

.file_menu .file_menu_info:hover {
  cursor: pointer;
  background-color: #c1c1c1;
  margin: 1px;
  width: 98%;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.file_menu .file_menu_info i {
  pointer-events: none;
  font-size: 25px;
}

.topmenu_item {
  cursor: pointer;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
}

.topmenu_item i {
  text-align: center;
  transition: 0.2s linear;
}

.topmenu_item div {
  width: 100%;
  font-size: 13px;
  line-height: 20px;
}

.size .size_menu {
  display: none;
}

.size .range_menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  width: 150px;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.size .range_menu .size_menu_info {
  display: flex;
  width: 150px;
  height: 30px;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  z-index: 999;
}

.size .range_menu .size_menu_info div {
  width: 80%;
  background-color: black;
}

.size .range_menu .size_button {
  cursor: pointer;
}

.size .range_menu .size_button:active {
  transform: scale(0.95);
}

.size .range_menu .size_button:hover {
  background-color: #c1c1c1;
  margin-bottom: 5px;
  width: 98%;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.color .color_menu {
  cursor: default;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.color .color_menu .color_menu_color {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  cursor: pointer;
  align-items: center;
}

.color .color_menu .color_menu_color:hover {
  background-color: #c1c1c1;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(50, 50, 3, 0.1), 0 1px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.color .color_menu .color_menu_color:active {
  transform: scale(0.95);
}

.canvas {
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 3, 0.11), 0 1px 3px rgba(0, 0, 0, 0.8);
}

.fileupload {
  display: none;
}
